.home-centrar {   
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.titulo {  
    display: grid;
    justify-content: center;
    align-items: flex-end;
}

img {
    width: 500px;
}

.box-enlaces {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
}

.enlaces {
    opacity: 0.5;
    margin-bottom: 20px;
    font-size: large;
    font-weight: 600;
    color:  #c9ee14 ;
}

.enlaces:hover {
    opacity: 1;
    color:  #34ea93;
    font-size: x-large;
}

.conteiner {
    animation: rotacion 85s infinite linear;
    margin-top: 15px;
}

@keyframes rotacion {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.perfil-1 {
    width: 120px;
    float: right;
    border-radius: 50%;
}
.perfil-2 {
    width: 140px;
    float: left;
    border-radius: 50%;
}
.perfil-3 {
    width: 130px;
    float: left;
    border-radius: 50%;
}
.perfil-4 {
    width: 120px;
    float: right;
    border-radius: 50%;
}
.perfil-5 {
    width: 120px;
    float: right;
    border-radius: 50%;
}
.perfil-6 {
    width: 120px;
    float: left;
    border-radius: 45%;
}

td {
    position: relative;
    width: 200px;
    width: 200px;
}