#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.img{
  width: 100%;
  border-bottom: 2px solid darkgoldenrod;
}

.card {
  border: 1px solid #000000aa;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 15px black;
  max-width: 450px;
  margin: 14px;
  background-color: #212f3c;
  transition: box-shadow 0.3s ease;
}

.box-nombre {
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

.nombre { 
  position: relative;
  color: black;
  font-weight: bold;
  font-size:xx-large;
  border: 2px solid darkgoldenrod;
  background-color: cadetblue;
  border-radius: 20px;
  width: 240px;
  text-align: center;
}

.descripcion {
  font-family: 'Times New Roman', Times, serif;
  font-size:large;
  margin-top: 10PX;
}

.rol { 
  color: grey;
  font-size:small;
  font-weight: 600;
  gap: 5%;
  margin-bottom: 15px;
}